.naam{
font-family: "Times New Roman";
font-size:45px;
color:lightblue;
background: #66A0D9;
background: -moz-linear-gradient(45deg, #66A0D9 0%, #8F5AA4 79%, #D4A3FF 100%);
background: -webkit-linear-gradient(45deg, #66A0D9 0%, #8F5AA4 79%, #D4A3FF 100%);
background: linear-gradient(45deg, #66A0D9 0%, #8F5AA4 79%, #D4A3FF 100%);
text-align:center;
}
.basic{
  font-family: "Times New Roman";
  font-size: 18px;
  text-align:center;
}
.h3{
  font-family: "Times New Roman";
  font-size: 20px;
  padding : 10px;
  color:lightblue;
background: #66A0D9;
background: -moz-linear-gradient(45deg, #66A0D9 0%, #8F5AA4 79%, #D4A3FF 100%);
background: -webkit-linear-gradient(45deg, #66A0D9 0%, #8F5AA4 79%, #D4A3FF 100%);
background: linear-gradient(45deg, #66A0D9 0%, #8F5AA4 79%, #D4A3FF 100%);
}
.p{
  font-family:"Times New Roman";
  font-size: 15px;}
.h4{
  font-family: "Times New Roman";
  font-size: 16px;
}  
.li{
font-family:"Times New Roman";
  font-size: 15px;}
 
.div{
text-align: center;} 


* {box-sizing: border-box}

.container {
  width: 100%;
  border: 1px solid black;
}

.skills {
  text-align: right;
  padding-top: .1px;
  padding-bottom: .1px;
  color: black;
}

.oracle {width: 80%; background-color: lightblue;}
.aws {width: 90%; background-color: pink;}
.php {width: 65%; background-color: lightblue;}
.python {width: 70%; background-color: pink;} 
.c{width: 55%; background-color: pink;}
.cc{width: 60%; background-color: lightblue;}

.fi {
  position: absolute;
  left: 950px; 
  top : 90%;  
  top: 190px;
  right: 120px;
} 

.move{
position: absolute; 
left: 950px; 
top : 500px;}

.move1{
 position: absolute; 
 top: 190px;
 left: 200px;
}
 
.move2{
 position: absolute;
 top: 350px;
 left: 200px; 
 }
 